.grid-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    background-color: #f4f6f9;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  .grid-controls label {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #333;
    gap: 5px;
  }
  
  .grid-controls input {
    width: 40px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s;
    text-align: center;
  }
  
  .grid-controls input:focus {
    border-color: #007bff;
    outline: none;
  }
  